* {
  box-sizing: border-box;
}

head {
 color: #777;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 1px;
  margin: 0 auto;
  
}

.top-wrapper {
  padding: 156px 0 198px 0;
  background-image: url(https://raw.githubusercontent.com/AhsaniHalwanRajib/ahsanirajib/main/Top.jpg);
  background-size: cover;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;

}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: center;
  margin-right: -25px;
}

.header-right a {
  line-height: 66px;
  padding: 0 25px;
  color: white;
  display: block;
  float: right;
  transition: all 0.5s;

}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
  font-size: 25;
}

.heading h2 {
  font-weight: bold;
  background: -webkit-linear-gradient(1deg, #EE51FF, #51E2FF);-webkit-background-clip: text;-webkit-text-fill-color: transparent;

}

.lesson {
  float: left;
  width: 25%;
  font-weight: bold;
  background: -webkit-linear-gradient(1deg, #EE51FF, #51E2FF);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.lesson_2 {
  font-weight: bold;
  background: -webkit-linear-gradient(1deg, #EE51FF, #51E2FF);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3AEB5;
}

.heading h3 {
  font-weight: normal;
}

.tbl-download { 
  background-color:	#83B2FF;
  font-weight: bold;
  color: white;
  padding: 15px 40px;
  border-radius: 5px;
  display: inline-block;
}

.tbl-download:hover {
  cursor: pointer;
  background: #CDE0FF;
  color: #83B2FF;
}

.tbl-download_2 { 
  background-color: #36FF90;
  font-weight: bold;
  color: white;
  padding: 15px 40px;
  border-radius: 5px;
  display: inline-block;
}

.tbl-download_2:hover {
  cursor: pointer;
  background: #CCFFDE;
  color: #36FF90;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.heading_2 {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading_2 h2 {
  font-weight: normal;
}

.heading_h h2 ,span {
  background: -webkit-linear-gradient(0deg, #fE11FF, #ff226f);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
  font-weight: bold;
}

.message {
  padding: 15px 40px;
  background-color:	#6A5ACD;
}

.message:active {
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 176px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: px;
}
